.container {
    /* max-width: 1170px; */
    margin: 0 auto;
    padding: 0 15px;
}



.testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-image: url("../../../src/assets/Feedback/bg-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.testimonial-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
    background-color: #1f2235;
}

.footer-image {
    height: 17.8%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
}

.footer-image img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1110px) {
    .footer-image {
        display: flex;
        align-items: flex-end;
    }

}

.testimonial-section .testi-item {
    margin: 30px 0 50px;
    background-color: white;
    padding: 30px;
    border-radius: 50px 50px 50px 0px;
    min-width: 290px;
}

.testimonial-section .testi-item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 10px;
    font-style: italic;
}

.testimonial-section .testi-item p .fa-quote-left {
    margin-right: 5px;
    color: tomato;
}

.testimonial-section .testi-item p .fa-quote-right {
    margin-left: 5px;
    color: tomato;
}

.testimonial-section .testi-comment .stars {
    display: flex;
    justify-content: center; 
    gap: 5px;
    /* width: inherit; */
    padding: 5px;
}

.testimonial-section .testi-comment .stars li {
    display: inline-block;
}

.testimonial-section .testi-comment .stars li i {
    font-size: 13px;
    color: tomato;
}

.testimonial-section .client-info {
    position: relative;
    padding-left: 80px;
    padding-top: 5px;
    min-height: 60px;
}

.testimonial-section .client-info img {
    height: 70px;
    width: 70px;
    border: 2px solid transparent;
    border-color: black;
    left: 0;
    top: 0;
    border-radius: 50%;
    position: absolute;
}

.testimonial-section .client-info h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 2px;
}

.testimonial-section .client-info p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}