.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    padding: 20px;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details {
    font-size: 24px;
    font-family: "Poppins SemiBold";
    padding: 10px;
    max-width: 60%;
    margin: 10px auto 30px;
}

.colz {}

.colz .colz-icon i {
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.colz .colz-icon i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.profile-details-name {
    margin-top: 20px;
}

.primary-text {
    color: var(--white);
    margin: 0 auto;

}

.highlighted-text {
    color: var(--dark-orange);
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    /* margin: 14px 0 24px; */
    /* max-width: 60%; */
    /* margin: 10px auto 30px; */
}

.profile-details-role h1 {
    font-size: 40px;
    font-family: cursive;
    min-height: 130px;
    margin: 0;
}


.profile-role-tagline {
    font-size: 21px;
    margin-bottom: 30px !important;
    font-size: 19px;
    margin: 5px 0 0;
    font-family: "Poppins Lidght";
}

.profile-options {
    margin-left: 28px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-options .highlighted-btn:hover {
    background-color: cornsilk;
    color: #111;
}


.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 6px 0 var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin-left: 10px;

}

.profile-picture-bg {
    height: 96%;
    width: 96%;
    background-image: url("../../../assets/Home/IMG_1869 2.jpg");
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    transition: transform 0.5s ease-out;
}

.profile-picture-bg:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 1110px) {
    .profile-picture {
        margin-left: 10px;
    }

    .profile-details {
        width: 60%;
    }

    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .primary-text {
        font-size: 12px;
    }

    .profile-options .btn {
        width: 120px;
        padding: 10px 0;
        z-index: 700;
    }
}

@media screen and (max-width: 910px) {
    .profile-picture {
        height: 320px;
        width: 320px;
        margin-left: 4px;
    }
}

@media screen and (max-width: 810px) {
    .profile-picture {
        margin: 0 !important;
    }

    .profile-parent {
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .profile-options {
        display: flex;
        justify-content: space-between;
    }

    .profile-details {
        margin-top: 25px;
    }

    .profile-options .highlighted-btn {
        /* margin: 0 !important; */
    }

    .profile-options,
    .profile-details-role {
        text-align: center;
    }

}

@media screen and (max-width: 370px) {
    .profile-picture {
        height: 270px;
        height: 270px;
        margin: 0;
    }

    .profile-details {
        width: 90%;
    }

    .profile-parent {
        margin: 0;
    }
}